<h1><%= I18n.t('contacts.form.title') %>:</h1>

<div class="ui placeholder segment">
  <h2 class="ui header center aligned"><%= t('contacts.form.title') %></h2>
  <div class="ui one column very relaxed stackable grid">
    <div class="column">
      <%= form_for(contact, html: {class: 'ui form'}) do |f| %>
        <%= render 'common/errors', resource: contact %>
        <div class="field">
          <%= f.label :data %>
          <div class="ui left icon input email">
            <%= f.text_field :data %>
          </div>
        </div>
        <div class="field">
          <%= f.label :organization %>
          <%= select("contact", "organization_id", Organization.all.collect {|p| [p.name, p.id]}, {include_blank: true}) %>
        </div>
        <div class="field">
          <%= f.label :contact_type %>
          <div class="ui left icon input">
            <%= f.collection_select :contact_type_id, ContactType.all, :id, :main_type %>
          </div>
        </div>

        <div style="display: flex; justify-content: center">
          <%= f.submit t('crud.actions.contact.new'), class: 'ui blue submit button', style: 'margin: 0' %>
          <%= button_to I18n.t('crud.actions.back'), organizations_path, class: 'ui blue submit button', style: 'margin: 0' %>
        </div>
      <% end %>
    </div>
  </div>
