<h1>Organization:</h1>
<%= form_for organization do |f| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>
      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
  </div>

  <div class="container">
    <%= f.label :description %><br/>
    <%= f.text_field :description %><br/>
  </div>

  <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', organizations_path %>
