<h1><%= I18n.t('organizations.form.title') %>:</h1>
<%= form_for organization do |f| %>
  <%= render 'errors', resource: organization %>

  <div class="container">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="container">
    <%= f.label :description %><br/>
    <%= f.text_field :description %><br/>
  </div>

  <%= f.submit t('create') %>
<% end %>

<%= link_to t('back'), organizations_path %>
