<h1><%= I18n.t('organizations.form.title') %>:</h1>
<%= form_for organization do |f| %>
  <%= render 'common/errors', resource: organization %>

  <div class="container">
    <%= f.label t('activerecord.attributes.organizations.name') %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="container">
    <%= f.label t('activerecord.attributes.organizations.description') %><br/>
    <%= f.text_field :description %><br/>
  </div>

  <%= f.submit t('crud.actions.create') %>
<% end %>

<%= link_to I18n.t('crud.actions.back'), organizations_path %>
