<%= @organization.user.email %><br/>
<%= @organization.name %><br/>
<%= @organization.description %><br/>
<%= link_to t('crud.actions.back'), organizations_path %>
<%= link_to t('crud.actions.update'), edit_organization_path(@organization) %>
<%= button_to t('crud.actions.destroy'), organization_path(@organization), method: :delete %>

<p><%= t('contacts.show.title') %></p>
<% @contacts.each do |contact| %>
  <%= contact.contact_type.main_type %> - <%= contact.contact_type.subtype %><br/>
  <%= contact.data %><br/>
  <%= link_to t('crud.actions.update'), edit_contact_path(contact) %>
  <%= button_to t('crud.actions.destroy'), contact_path(contact), method: :delete, class: "delete_contact_#{contact.id}" %>
<% end %>
<%= link_to t('crud.actions.new'), new_contact_path %>
