<p><%= "#{t('mailers.devise.headers.hello')} #{@resource.email}"%>!</p>

<p><%= t('someone_requested_password_change') %></p>

<p><%= link_to t('change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('ignore_email') %></p>
<p><%= t('password_will_be_changed_after_creating_new_one') %></p>
