%p
  = "#{t('mailers.devise.headers.hello')} #{@resource.email}"
  \!
%p= t('someone_requested_password_change')
%p= link_to t('change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('ignore_email')
%p= t('password_will_be_changed_after_creating_new_one')
