<!DOCTYPE html>
<html>
  <head>
    <title>Thankyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'thankYou/index' %>
    <%= stylesheet_pack_tag 'thankYou/assets/stylesheets/app' %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to 'Sign in', new_user_session_path, method: :get %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
