<!DOCTYPE html>
<html>
  <head>
    <title>Thankyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'thankYou/index' %>
    <%= stylesheet_pack_tag 'thankYou/assets/stylesheets/app' %>
  </head>

  <body class="ui container relaxed">
    <header>
      <%= render 'layouts/menu' %>
    </header>

    <%= render 'layouts/notices_alerts' %>

    <div id="root"></div>

    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
